<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake Boogle Login Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/project_fakelogin_style.css">
</head>
<body>

<div class="container">

    <div class="box1">

        <div style="text-align: center; padding-bottom: 25px; color: black;">
            <img src="../static/img/logo.png" style="height: 30px; width: auto;">
            <h2>Prijava</h2>
            <p style="font-size:16px;">Upotrijebite Google račun</p>
        </div>


        <div class="input1">
            <form>
                <form action="/action_page.php">
                <input type="text" id="email" name="email" placeholder="E-pošta ili telefon" style="font-size:16px;">
            </form>

            <span style="color:royalblue;">Zaboravili ste E-adresu?</span>
        </div>


        <div class="text-under">
            <p>Nije vaše računalo? Upotrijebite način rada za goste da biste se prijavili privatno.
                <a href="https://support.google.com/chrome/answer/6130773?hl=hr">Saznajte više</a></p>
        </div>



        <div class="box2">
            <div style="padding-top:10px;">
                <a href="--------">Otvorite korisnički račun</a>
            </div>

            <div>
                <button class="button">Dalje</button>
            </div>

        </div>

    </div>


    <div class="end-notes">
        <div class="custom-select" style="width:100px;">
            <select class="input2">
                <option value="0">hrvatski</option>
                <option value="1">Jezik1</option>
                <option value="2">Jezik2</option>
                <option value="3">Jezik3</option>
                <option value="4">Jezik4</option>
                <option value="5">Jezik5</option>
                <option value="6">Jezik6</option>
            </select>
        </div>

        <div class="end-links" style="padding-top:10px;">
            <a class="a2" href="https://support.google.com/accounts?hl=hr">Pomoć</a>
            <a class="a2" href="https://accounts.google.com/TOS?loc=HR&hl=hr&privacy=true">Privatnost</a>
            <a class="a2" href="https://accounts.google.com/TOS?loc=HR&hl=hr">Uvjeti</a>
        </div>

    </div>

</div>









</body>
</html>