<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake Google Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/project_googlehome_style.css">
</head>
<body>

<div class="header">
    <a class="a1" href="https://mail.google.com/mail/?tab=wm&ogbl">Gmail</a>
    <a class="a1" href="https://www.google.hr/imghp?hl=en&tab=wi&ogbl">Images</a>
    <a href="https://www.google.hr/"><img src="../static/img//menu1.jpg" height="30px" width="auto"></a>

    <a href="https://www.google.hr/"><img src="../static/img//profil1.png" height="30px" width="30px"></a>
</div>

<div class="logo">
     <a href="https://www.google.hr/"><img src="../static/img//google-logo.png" height="120px" width="auto"></a>
</div>

<div class="after-logo">
    <div>
        <img src="../static/img//search-bar1.jpg" alt="">
    </div>

    <div>
        <a href="https://www.google.hr/" class="button"> Google Search</a>
        <a href="https://www.google.com/doodles" class="button"> I'm Feeiling Lucky</a>
    </div>
    
    <p style="font-size:12px;">Google offered in:
        <a class="a2" href="https://www.google.hr/setprefs?sig=0_l_Z2sqpGPki0oRUwOvmDaDKT6iY%3D&hl=hr&source=
        homepage&sa=X&ved=0ahUKEwiL0f3J4q7tAhUOhRoKHRLrDT4Q2ZgBCA4">hrvatski</a>
    </p>
</div>

<div class="footer">
    <div style="padding-bottom:5px;">
        Croatia
    </div>

    <hr style="color:Silver;">

    <div class="footer-a1">
        <a class="a3" href="https://www.google.hr/
        url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwi-jcbX_a7tAhWtxYUKHTMYCgMQkdQCCBU&url
        =https%3A%2F%2Fwww.google.hr%2Fintl%2Fen_hr%2Fads%2F%3Fsubid%3Dww-ww-et-g-awa-a-g_
        hpafoot1_1!o2%26utm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpafooter%26fg%3D1&usg=
        AOvVaw3JwgdVXeGINFKDOLh6oHbY">Advertising</a>

        <a class="a3" href="https://www.google.hr/
        url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwi-jcbX_a7tAhWtxYUKHTMYCgMQktQCCBY&url
        =https%3A%2F%2Fwww.google.hr%2Fservices%2F%3Fsubid%3Dww-ww-et-g-awa-a-g_hpbfoot1_1!o2%26utm_source%
        3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpbfooter%26fg%3D1&usg=AOvVaw00pYnOox1FC9
        bknkT10cwJ">Business</a>

        <a class="a3" href="https://www.google.hr/
        url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwi-jcbX_a7tAhWtxYUKHTMYCgMQkNQCCBc&url
        =https%3A%2F%2Fabout.google%2F%3Futm_source%3Dgoogle-HR%26utm_medium%3Dreferral%26utm_campaign%3Dhp-
        footer%26fg%3D1&usg=AOvVaw06QIuAOwX9sbqy3_ZtYTct">About</a>

        <a class="a3" href="https://google.com/search/howsearchworks/?fg=1">How Search Works</a>
    </div>

    <div class="footer-a2">
        <a class="a3" href="https://www.google.hr/
        url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwi-jcbX_a7tAhWtxYUKHTMYCgMQ8awCCBE&url=
        https%3A%2F%2Fpolicies.google.com%2Fprivacy%3Fhl%3Den-HR%26fg%3D1&usg=
        AOvVaw3jd0PgGbuhFODGSnxmdYOl">Privacy</a>

        <a class="a3" href="https://www.google.hr/
        url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwi-jcbX_a7tAhWtxYUKHTMYCgMQ8qwCCBI&url=
        https%3A%2F%2Fpolicies.google.com%2Fterms%3Fhl%3Den-HR%26fg%3D1&usg=AOvVaw1RdTxXzAaE3Bju2kh79eD9">Terms
        </a>

        <a class="a3" href="https://www.google.hr/
        url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwi-jcbX_a7tAhWtxYUKHTMYCgMQzq0CCBM&url
        =https%3A%2F%2Fwww.google.hr%2Fpreferences%3Fhl%3Den&usg=AOvVaw2-uW4wIW4ydLUZ7B8pusMR">Cookies</a>

    </div>

</div>








</body>
</html>