<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="utf-8">
    <title>My Fakebook PageCSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/project_myblog_style.css">
</head>

<body>

<div id="header" class="header">
    <h1>Moj Fakebook profil</h1>
    <h2 style="color: #af5c5c;">Matea Bertović</h2>
</div>

<div class="topnav">
    <a href="11.30. MyFakebookProfileCSS.html">Početna</a>
    <a href="MojiRadovi.html">Moji radovi</a>
    <a href="Kontakt.html">Kontakt</a>
</div>



<div class="row">
    <div class="leftcolumn">
        <div class="card">
           <h3>Pitaj profesora!</h3>
           <ul>
               <li>Float? što je float? zašto to utječe na to da je .rightcolumn na desnoj strani?</li>
               <li>Ima li neki način kako jednako raspodijeliti linkove bez da točno navodim 33.3%?</li>
               <li>Zašto text-align: center; nije funkcionirao kad sam ga napisala u CCS fileu u .rightcolumn?</li>
               <li>Kako maknuti podvučene crte s linkova?</li>
               <li>KAKO DA DODAM SLIKU U POZADINI HEADERA?!?!?!?</li>
            </ul>
       </div>

        <div class="card">
            <img class="img2" src="../static/img//dpgif1.gif" alt="Moj rad" width="100%" height="auto">
        </div>

        <div class="card">
            <h3>Pjesma~</h3>
            <p>Evo jedne pjesmice koja mi se sviđa:</p>
        <blockquote style="color:gray;">
            <i>Had I the heaven's embroidered cloths
        <br>enwrought in golden and silver light
        <br>the blue and the dim and the dark clothes
        <br>of night and light and the half light
        <br>I would spread the cloths under your feet
        <br>tread softly because you tread on my dreams.</i></blockquote>

        <a href="https://poets.org/poem/aedh-wishes-cloths-heaven">
            <i>Aedh Wishes for the Cloths of Heaven</i> <b>~ W.B. Yeats</b></a>
        </div>

        <div class="card">
            <img class="img2" src="../static/img//dpredraw1.jpg" alt="Moj rad" width="100%" height="auto">
            <p> </p>
            <img class="img2" src="../static/img//dpectober1.png" alt="Moj rad" width="100%" height="auto">
            <p>Neki od mojih crteža! :)</p>
        </div>

 <div class="card">
            <img class="img2" src="../static/img//P5royaltrio2.jpg" width="100%" height="auto">
        </div>

        <div class="card">
            <img class="img2" src="../static/img//dpsalemvlad.jpg" alt="Moj rad" width="100%" height="auto">
        </div>

    </div>





    <div class="rightcolumn">
        <div class="card" style="text-align: center;">
            <img class="img1" src="../static/img//fkb slika.jpg" alt="Slikano u Kopenhagenu 2016."
                 width="100%" height="auto">
            <h4>Pozdrav! </h4> <p>Zovem se Matea, a ovo je moj profil!</p>
        </div>

        <div class="card">
            <p><b>Grad:</b> <br>Zagreb</p>
            <p><b>Završena škola:</b><br>Filozofski fakultet</p>
            <p><b>Volim:</b> <br>slikati, crtati, heklati, programirati</p>

        </div>


    </div>





</body>